body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #ffffff;
    margin: 40px auto;
}

.about-my-proff{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.about-my-section{

}
.my-projects-section{

}
.my-work-experience{

}
.my-education{

}
.side-bar-section{
    background-color: #1E2939;
;
}